<header>
    <div class="header-left">
        <h1>Система склада Маркетинг-Юг</h1>
    </div>
    <div class="header-right">
        {% if user.is_authenticated %}
            <span>Здравствуйте, {{ user.username }}</span>
            {% if user.is_superuser %}
                <span>(Администратор)</span>
            {% else %}
                <span>(Работник)</span>
            {% endif %}
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </div>
</header>