<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TRUG{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <title>TRUG</title>
</head>
<body>

{% include 'header.html' %}

<div class="main-container">
    <aside class="sidebar">
        <a href="{% url 'products' %}" class="icon-button">
            <img src="{% static 'images/boxes.svg' %}" alt="Продукция">
            <span>Продукция</span>
        </a>
        <a href="{% url 'placement' %}" class="icon-button">
            <img src="{% static 'images/place.svg' %}" alt="Размещение">
            <span>Размещение</span>
        </a>
        <a href="{% url 'supplies' %}" class="icon-button">
            <img src="{% static 'images/delivery.svg' %}" alt="Поставки">
            <span>Поставки</span>
        </a>
        <a href="{% url 'shipment' %}" class="icon-button">
            <img src="{% static 'images/truck.svg' %}" alt="Отгрузка">
            <span>Отгрузка</span>
        </a>
        <a href="{% url 'orders' %}" class="icon-button">
            <img src="{% static 'images/order.svg' %}" alt="Заказы">
            <span>Заказы</span>
        </a>
    </aside>

 <main class="content" id="content">
        {% block content %}
        <h2>Страниза заказов</h2>
        {% endblock %}
    </main>

</div>
</body>
</html>
